

<title>GALLERY</title>
<html>


	<div class="masonry js-masonry"  data-masonry-options='{ "isFitWidth": true }'>
  		
	
						{% for pic in pics_list %}
							<a href="/post/{{pic.1}}"><img src="{{ pic.0 }}" style="height:413px"></a>		
								{% endfor %}
	</div>



<script src="///cdnjs.cloudflare.com/ajax/libs/masonry/3.3.0/masonry.pkgd.min.js"></script>

<script>
$(document).ready
var container = document.querySelector('#container');
var msnry = new Masonry( container, {
  // options
  columnWidth: 120,
  itemSelector: '.item'
});

</script>

</html>