{% extends "story/base.html" %}


<html>
<head> Your Stories </head>
<body>

{% block content %}

<div class = "container-fluid">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
             <div class="background">
                 <div class="transbox">
            <a href="/post/list" class="list-group-item active">Travel Stories </a>
                {% if post %}
                    <ul>
                    {% for item in post %}
                		<a href="/post/{{item.id}}" class="list-group-item">{{ item.post_title }} by {{item.user.username}}</a>
                    {% endfor %}
                    </ul>
                {% else %}
                    <p>No stories are available.</p>
                {% endif %}			
			<a class="navbar-brand" href="/post/feed">Browse Stories</a>
                </div>
            </div>
        </div>
	</div>
</div>
{% endblock %}