{% extends "story/base.html" %}

{% block content %}

<title>{{request.user.name}} Story</title>
<html>
					
						{% for pic in pics %}

							<a href="/post/{{pic.1}}"><img src="{{ pic.0 }}" style="height:448px"></a>
		
								
						{% endfor %}
					{% endblock %}


<script src="///cdnjs.cloudflare.com/ajax/libs/masonry/3.3.0/masonry.pkgd.min.js"></script>

<script>
$(document).ready
var container = document.querySelector('#container');
var msnry = new Masonry( container, {
  // options
  columnWidth: 200,
  itemSelector: '.item'
});

</script>



						
</html>